<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TimeKeeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <TimeKeeper.Properties.Settings>
            <setting name="SavedEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="PostalCode" serializeAs="String">
                <value>33062</value>
            </setting>
            <setting name="WeatherApiKey" serializeAs="String">
                <value>f11b0de69c8948b0965a9c0970da0647</value>
            </setting>
            <setting name="CountryCode" serializeAs="String">
                <value>pl</value>
            </setting>
        </TimeKeeper.Properties.Settings>
    </applicationSettings>
</configuration>